@use "sass:math";
@use "sass:list";
@use "number";

$elves: (0);

@each $value in input() {
  @if str-length($value) == 0 {
    $elves: append($elves, 0);
  } @else {
    $calories: list.nth($elves, -1) + number.from-string($value);
    $elves: list.set-nth($elves, -1, $calories);
  }
}

* {
  --calories: #{math.max($elves...)};
}
