@use "string";
@use "list";
@use "number";
@use "map";
@use "sass:meta";

$total: 0;
$size: 0;
$stack: ();

@function parse-command($_, $cmd, $path: false) {
  @if $path {
    @if $path == ".." {
      @if $size < 100000 {
        $total: $total + $size !global;
      }
      $size: list.nth($stack, 1) + $size !global;
      $stack: list.shift($stack...) !global;
    } @else {
      $stack: list.join(($size), $stack) !global;
      $size: 0 !global;
    }
  }
  @return undefined;
}

$line: read-line();
@while $line != "" {
  $cmd: string.split($line, " ");
  $part: list.nth($cmd, 1);

  @if $part == "$" {
    $_: parse-command($cmd...);
  } @else if $part != "dir" {
    $size: $size + number.from-string($part);
  }

  $line: read-line();
}

@while list.length($stack) > 0 {
  $_: parse-command("$", "cd", "..");
}

/*

#{$total}

*/
